# Ignore common python files
__pycache__
.pytest_cache


# Ignore all .yaml files except example_config.yaml
*.yaml
configs/*.yaml
!example_config.yaml
!CI_tests.yaml
!documentation.yaml
!configs/example_config.yaml

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
*.ipynb

# Ignore virtual environment directories
env/
venv/
ENV/
.venv/

# Ignore IDE specific files
.vscode

# Ignore system files
.DS_Store
.idea

# Sphinx documentation
docs/build

# Auxilliary bash script
clean_environment.sh

# ruff
.ruff_cache

# Poetry local config file
poetry.toml

